<%% title "<%= singular_name.titleize %> : Editando" %>
<%- if actions? :show, :index -%>
<p>
<%- if action? :show -%>
  <%%= link_to "Exibir", <%= item_path :instance_variable => true %> %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "Listagem", <%= items_path %> %>
<%- end -%>
</p>
<%- end -%>

<%= render_form %>


